---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Body from '../components/Body.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../config'
import Content from '../components/Content.astro'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header title={SITE_TITLE} />
    <main class="pt-[56px]">
      <h1 class="font-mplus text-center">What I use</h1>
	  <Content>
		<section>
			<p class="mb-8 indent-4">Content</p>
		</section>
	  </Content>
    </main>
    <Footer />
  </Body>
</html>
